body {
    font-size: 1.4rem;
    a {
        font-family: Arial;
        font-weight: bold;
    }
}

.form-control{
    font-size: 1.3rem;
}
/* 
nav {
    color: white;

} */

.navbar {
    width: 102% !important;
    left: -1%;
    padding: 1%;
}


.container{
    border: 0px solid;
    width: 100%;
    border-radius: 15px;
    margin-top: 1%;
    background-color: white;
}

/* The word CIDAR */
.navbar-light .nav-cidar{
    font-size: 30px;
    color:#71425E;
}

/* When hover on CIDAR */
/* .navbar-light .nav-cidar:focus, .navbar-light .nav-cidar:hover{
    color:#71425E;
} */

.navbar-nav .nav-item .nav-link{
    font-size: 1.6rem;
    transition: all 0.3s ease-in;
}
.navbar-nav .nav-item .nav-link:hover{
    /* font-size: 1.03rem; */
    text-decoration: underline;
    color:#71425E;
}

.cidar2-log{
    transition: all 0.3s ease-in-out;
}
.cidar2-log:hover{
    opacity: 0.8;
    width: 107px;
}

.part1{
    margin-bottom: 1%;
    background-color:#71425E;
}

.col-sm-6{
    margin-bottom: 1%;
}
.badge{
    background-color: aliceblue;
}
form{
    border: 2px solid #71425E;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 2%;
    box-shadow: 3px 3px #71425E;
    transition: all 0.1s ease-in-out;

}

form:hover{
    box-shadow: 4px 4px #71425E;
    border: 4px solid #71425E;
    background-color: rgb(247, 252, 254);
}

.p-intro{
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 3px 3px #71425E;
    transition: all 0.3s ease-in;
}
.p-intro:hover{
    box-shadow: 5px 5px #71425E;

}