<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="nav-cidar navbar-brand" href="/"> <img class="cidar2-log" src="../static/CIDAR2.png" alt="cidar2 logo" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/review">Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row p-3 mb-2">
        <p class="p-intro">
            CIDAR2 is an extension of <a href="https://huggingface.co/datasets/arbml/CIDAR" target="_blank">CIDAR</a>
            aimed at extending
            the dataset with
            much more samples. Please take a look at the <a
                href="https://github.com/ARBML/CIDAR-v2/blob/master/Guidlines.md" target="_blank">Guidlines</a>.
        </p>
        <div class="part1 col-sm-12">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Fix Grammatical Issues</div>
                        Some words might not be translated correctly especially at the start, we want all the
                        statements to start by a question
                        For example تحديد should be replaced by حدد or قم بتحديد
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Fix Translation Issues</div>
                        Some inputs or outputs might not be translted. Also, some instructions might be specific
                        to English please give their corropsonding examples in Arabic.
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Adapt Cultural Content</div>
                        Some examples in the original English Alpaca might contain some examples that represent the
                        western cultures. We want to replace them with insturctions that represent the Arabic region and
                        its
                        culture.
                </li>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <span class="badge text-dark " id="index"></span>

            </div>
            <div class="col-sm-3">
                <span class="badge text-dark text-right" id="num_cont">Total Contributions: </span>
            </div>
        </div>
        <form method="POST" id="theForm">
            <div class="row text-dark p-3 mb-2 ">
                <h3>Arabic</h3>
                <label for="instruction">Instruction</label>
                <input type="text" dir="rtl" class="form-control edittable" id="instruction" name="instruction"
                    required>
                <label for="output">Output</label>
                <textarea type="text" dir="rtl" class="form-control edittable" id="output" name="output" rows="10"
                    required> </textarea>
                <input type="text" class="form-control input-sm changed" id="Reviewed by" name="Reviewed by"
                    placeholder="Enter your name here" required>
            </div>

            <div class="row">
                <div class="col-sm-12" align="center">
                    <button type="button" class="btn btn-outline-secondary" onclick="getNext()"
                        id="btnSkip">Skip</button>
                    <button type="submit" class="btn btn-info" id="btnSubmit">
                        Submit
                    </button>
                    <button type="button" class="btn btn-outline-secondary" onclick="setEmpty()"
                        id="btnClear">Clear</button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title text-dark" id="exampleModalLabel">Empty Changes</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-dark">
                                    You haven't added any changes, are you sure you want to submit?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-info" onclick="submitForm()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="index_input" name="index" readonly>
                </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>

    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
</div>